@font-face {
    font-family: 'Cambria';
    src: url('../fonts/cambria/Cambria.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Cambria';
    src: url('../fonts/cambria/Cambria-Bold.ttf');
    font-weight: 700;
}
